.container {
    max-width: 500px;
    margin: 50px auto;
  }
  
  #timer {
    font-size: 36px;
    font-weight: bold;
  }
  
  #laps {
    list-style-type: decimal;
    padding-left: 20px;
  }
  
  button {
    margin-right: 10px;
  }
  
  @font-face {
    font-family: "Digit";
    src: url("ds_digital/DS-DIGI.TTF") format("truetype");
  }
  
  body {
    font-family: "Digit", sans-serif; 
  }

.text-center {
  margin-top: 25px;
}
  